.container {
    width: 100%;
    padding: 10px;
    border: 5px solid green;
    overflow: auto;
    box-sizing: border-box;
    margin-top: 20px;
}
.container2 {
    width: 100%;
    padding: 10px;
    border: 5px solid rgb(224, 132, 51);
    overflow: auto;
    box-sizing: border-box;
    margin-top: 20px;
}
.container3 {
    width: 100%;
    padding: 10px;
    border: 5px solid rgb(19, 19, 18);
    overflow: auto;
    box-sizing: border-box;
    margin-top: 20px;
    text-emphasis-color: rgb(190, 18, 18);
}